<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Musicpicker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <script src="vendor.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
</body>
</html>
