<style type="text/css">
.device-panel {
	position: relative;
	background-position: center;
	padding: 0;
	cursor: pointer;
}

.device-text {
	padding: 5px;
	height: 100%;
	overflow: hidden;
}
</style>

<div id="app"></div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	mpStart($('#app')[0]);
});
</script>
