<style type="text/css">
.device-panel {
	position: relative;
	background-position: center;
	padding: 0;
	cursor: pointer;
}

.device-text {
	padding: 5px;
	height: 100%;
	overflow: hidden;
}
</style>

<div id="app"></div>

<script type="text/javascript">
musicpicker.mpStart(document.getElementById('app'));
</script>
