<div class="row">
  <br />
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-body">
        <h3 class="text-center">Musicpicker</h3><br />
        {{#if failure}}
        <div class="alert alert-warning">
          <b>Incorrect credentials.</b> Please enter a valid username/password combination.
        </div>
        {{/if}}
        <form method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
            &nbsp;&nbsp;
            <a href="/signup" class="btn btn-default">Sign up</a>
          </div>
        </form>
        <br />
      </div>
    </div>
    <div id="releases"></div>
  </div>
</div>

<script type="text/javascript">
  musicpicker.showReleases(document.getElementById('releases'));
</script>
